@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

*{
    font-family: "Lexend", sans-serif;
}

/* container */
.container{
    width:1184px;
    margin-left:auto;
    margin-right:auto;
}
@media(max-width:991.98px){
    .container{
        width:720px;
    }
}
@media(max-width:767.98px){
    .container{
        width:540px;
    }
}
@media(max-width:567.98px){
    .container{
        width:100%;
        padding-left:10px;
        margin-right:10px;
    }
}
/* end container */

input,select,textarea{
    outline: none;
}

.section-1 .just-validate-error-label{
   color:#FFFFFF !important;
   position:absolute;
   left:0;
   top:100%;   
}

